@import url('../vireables.css');

.header {
    grid-area: h;
    display: grid;
    justify-content: start;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.logo {
    max-height: 62px;
    margin-left: -15px;
}

.loginBlock {
    justify-self: end;
    margin-right: 1rem;
}


.loginBlock a {
    color: var(--border);
    align-self: center;
}

.loginIcon {
    transform: scale(2);
    width: 1rem;
}

.loginData {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

.loginIconOut {
    width: 2rem;
}


